.q_title{
	height:38px;
	line-height:38px;
	margin: 20px auto;
	width: 945px;
}
.no_q_title{
	margin: 0px auto;
}
.q_title_node{
	float: left;
	color: #ff6600;
	font-weight: bold;
	font-size: 18px;
}


.q_title_car_type{
	float:left;
	margin-left: 10px;
	height:30px;
	line-height:30px;
	background-color: #047ebc;
	margin-top: 4px;
	color: #ffffff;
	font-weight: bold;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
}

.q_title_car_type span{
	float: left;
	display: block;
	padding-right: 5px;
}

.q_title_car_type img{
	float: left;
}

.q_title_export,.q_title_input{
	float:right;
	margin-right: 10px;
	height:30px;
	line-height:30px;
	background-color: #ff6600;
	margin-top: 4px;
	color: #ffffff;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	width: 100px;
}

.q_title_input{
	width: 400px;
	background-color: transparent;
	text-align: right;
	margin-right: 0px;
	
}
.q_title_input input{
	float: right;
	height: 23px;
	line-height: 23px;
	margin-right: 10px;
	background-color:#eeeeee ;
	border:1px solid #494949 ;
	width: 160px;
}

.q_title_input a{
	display:block;
	width: 48px;
	height: 26px;
	line-height: 26px;
	color: #ffffff;
	text-align:center;
	background-color: #047ebc;
	float: right;
}
.q_title_input a:HOVER{
	text-decoration: underline;
}
.q_title_input_a{
	margin-left: 20px;
	
}

.q_title_export span{
	float: left;
	display: block;
	margin-left: 5px;
}

.q_title_export img{
	margin-left:20px;
	float: left;
}

.q_line{
	height: 2px;
	background-color:#b3b3b3;
	overflow:hidden;
	width: 945px;
}

.q_content{
	margin: 15px auto;
	width: 945px;
}
.no_q_content{
	margin: 0px auto;
}

.q_content_title,.q_content_title_else{
	width: 945px;
	background-color: #047ebc;
	height: 40px;
	text-align: left;
}
.q_content_title_else{
	background-color: #d5d5d5;
	height: 60px;
}
.q_content_title span{
	display: block;
	margin-left: 15px;
	height: 40px;
	line-height:40px;
	color: #ffffff;
	font-size: 15px;
	float: left;
}
.q_content_more{
	cursor: pointer;
	float: right;
}
.q_content_more_else,.q_content_more_date{
	cursor: pointer;
	float: right;
}
.q_content_more_else .time,.q_content_more_date .time{
	margin-right: 25px;
	margin-top: 8px;
	width:80px;
}
.q_content_more_else img,.q_content_more img{
	float: left;
}
.q_content_more_else div,.q_content_more div{
	margin-right: 15px;
	height: 40px;
	line-height:40px;
	color: #ffffff;
	font-size: 15px;
	float: left;
}
.q_content_more_else div{
	color: #333333;
	height: 25px;
	line-height:25px;
}
.q_content_title_else span{
	display: block;
	float: left;
	height: 25px;
	line-height:25px;
	margin-left: 20px;
}
.advert_title{
	width: 100px;
	font-size: 16px;
}
.advert_context{
	font-size: 14px;
}


.q_content_l,.q_content_c,.q_content_r{
	height: 90px;
	float: left;
	border-right: 1px solid #b3b3b3;
	width: 420px;
	text-align: right;
	color: #666666;
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
}
.content_l_title{
	font-size: 18px;
	color: #047ebc;
	font-weight: bold;
	text-align: left;
	width: 100%;
	display: block;
}
.content_l_blue,.content_l_red{
	font-size: 30px;
	color: #047ebc;
}

.content_l_red{
	color: red;
}

.content_l_s{
	
}
.q_content_c{
width: 450px;	
border-right: none;
}
.q_content_r{
	width: 380px;
	border-right: none;
}

.content_l_div,.content_l_div_line{
	float: right;
	margin-top:15px;
	margin-left: 10px;
}

.content_l_div_line{
	border-right: 1px solid #b3b3b3;
	padding-right: 10px;
}

.q_content_all_border{
	width: 941px;
	border: 2px solid #d7d7d7;
}

.q_content_border{
	width: 941px;
	border-left: 2px solid #b3b3b3;
	border-right: 2px solid #b3b3b3;
	border-bottom: 2px solid #b3b3b3;
}
.q_content_no_border{
	width: 945px;
	text-align: left;
}

.bottom_border{
	border-bottom: 1px solid #b3b3b3;
}

.q_content_img{
	float:left;
	width: 630px;
	height: 250px;
}
.q_content_img_center{
	width: 630px;
	height: 250px;
}

.q_content_long_img{
	width: 945px;
	height: 250px;
}
.q_content_absolute{
	z-index:10;
	width: 60px;
	margin-left: 883px;
}
.absolute{
	position: absolute;
	margin-top:10px;
	margin-left: 860px;
}
.absolute_a{
	display: block;
	height: 30px;
	line-height: 30px;
	width: 60px;
	text-align:center;
	background-color: #eeeeee;
	border: 1px solid #b3b3b3;
}
.q_content_absolute m{
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}

.absolute_a:HOVER,.current_a{
	color: #ffffff;
	background-color: #047ebc;
	border: 1px solid #047ebc;
}


.q_content_table{
	float:left;
	width: 310px;
}

.q_content_table table{
	border-top: 1px solid #d5d5d5;
	border-left: 1px solid #d5d5d5;
	text-align: center;
	margin: 0px auto;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #6a6a6a;
}

.q_content_table table th{
	text-align: center;
	background-color: #efefef;
	height:30px;
	border-bottom: 1px solid #d5d5d5;
	border-right: 1px solid #d5d5d5;
}

.q_content_table table td{
	height:26px;
	border-bottom: 1px solid #d5d5d5;
	border-right: 1px solid #d5d5d5;
}
.q_content_search{
	border-bottom: 1px solid #b3b3b3;
}

.q_content_add{
	
}

.q_content_border .no_border{
	border-bottom: none;
}

.q_content_add .add_node,.q_content_search .search_node{
	min-height: 40px;
	line-height: 40px;
	float: left;
	width: 90px;
	text-align:right;
	color:#222222 ;
	font-size: 14px;
	font-weight: bold;
}

.q_content_add .add_content,.q_content_search .search_content{
	text-align:left;
	line-height: 40px;
	float: left;
	width: 845px;
	min-height: 40px;
	
}
.margin-top{
	margin-top: 10px;
}
.q_content_add .add_node{
	width: 125px;
	color:#888888;
}

.q_content_add .add_node,.q_content_add .add_content{
	min-height: 50px;
	line-height: 50px;
}

.q_content_add .add_content{
	width: 800px;
}

.q_content_add .add_content .input,.q_content_add .add_content .textarea{
	margin-top: 10px;
	height: 24px;
	line-height: 24px;
	width:745px;
	background-color: #eeeeee;
	border: 1px solid #d7d7d7;
}

.q_content_add .add_content .inputDate{
	height: 24px;
	line-height: 24px;
	background-color: #eeeeee;
	border: 1px solid #d7d7d7;
}

.q_content_add .add_content .inputRadio{
	margin-top: 2px;
}

.q_content_add .add_content .textarea{
	height: 100px;
	line-height: normal;
	padding:5px;
}
.q_content_add .add_content .add_url{
	color:#ccccccc;
	text-decoration: underline;
}

.q_content_add .add_content .add_btn{
	background-color: #047ebc;
	color: #ffffff;
	width: 80px;
	padding:8px;
	padding-left:12px;
	padding-right:12px;
	margin-left: 10px;
	margin-right: 15px;
}

.q_content_add .add_content .add_img{
	width:60px;
	height: 60px;
}
.height{height: 60px;line-height: 60px;}





.orage{color:#ff6600;}
.red{color:red;}

.search_content .s{
	border: 1px solid #999999;
	padding-left: 10px;
	padding-right: 10px;
	height:24px;
	line-height:24px;
	margin-right:20px;
	margin-top:7px;
	float: left;
	cursor: pointer;
}
.search_content .s .s_node{
	color: #ff0000;
}


.search_content a{
	display: block;
	float: left;
	padding-left: 20px;
	padding-right:20px ;
	height: 30px;
	line-height: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	color: #333333;
	font-size: 13px;
	overflow: hidden;
	cursor: pointer;
}

.provinces_div{
	float:left;
	overflow: hidden;
	cursor: pointer;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
}
.provinces_name{
	padding-left: 20px;
	padding-right:20px ;
	height: 30px;
	line-height: 30px;
	font-size: 13px;
}


.search_content a:HOVER,.search_content .current{
	background-color: #047ebc;
	color: #ffffff;
}

.q_search_a{
	display: block;
	height: 30px;
	line-height: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #047ebc;
	color: #ffffff;
	width: 80px;
}

.q_table{
	width: 945px;
	margin-top: 10px;
}
.no_top{
	margin-top: 0px;
}

.title_imp_a{
	display: block;
	color: #ffffff;
	float: left;
	font-size: 15px;
	font-weight:bold;
	height:28px; 	
	margin-top:6px;
	line-height: 30px; 	
	margin-left: 10px;
	padding-left: 15px;
	padding-right: 15px;
	
}
.title_imp_a_hover,.title_imp_a:HOVER{
	background-color: #ffffff;
	color:#047ebc ;
}

.q_table table{
	border-top: 1px solid #d5d5d5;
	border-left: 1px solid #d5d5d5;
	text-align: center;
	margin: 0px auto;
	margin-bottom: 10px;
	color: #6a6a6a;
	width: 100%;
}

.q_table table a{
	color: #333333;
	text-decoration: underline;
}
.q_table table a:HOVER{
	text-decoration: underline;
}

.q_table table th{
	text-align: center;
	background-color: #efefef;
	height:30px;
	border-bottom: 1px solid #d5d5d5;
	border-right: 1px solid #d5d5d5;
	color: #555555;
	font-weight: bold;
}

.q_table table td{
	height:26px;
	border-bottom: 1px solid #d5d5d5;
	border-right: 1px solid #d5d5d5;
}

.city_div{
	background-color: #efefef;
	width: 190px;
	border: 1px solid #047ebc;
	display: none;
	position: absolute;
}

.city_div div{
	float:left;
	padding-left: 8px;
	padding-right: 8px;
	margin-left: 6px;
	height: 25px;
	line-height: 25px;
	margin-top: 6px;
	margin-bottom: 6px;
	color: #333333;
}

.city_current{
	color: #ffffff;
	background-color: #047ebc;
}

.title_imp_media{
	display: block;
	color: #ffffff;
	float: left;
	font-size: 15px;
	font-weight:bold;
	height:28px; 	
	line-height: 30px; 	
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 15px;
}


/**�¼�׷��*/
.margin20{margin-left: 35px;}
.q_event_content{
	height:130px;
	width:943px;
	border-bottom:1px solid #d5d5d5 ;
	border-left: 1px solid #d5d5d5 ;
	border-right: 1px solid #d5d5d5 ;
}

.event_left{
	float:left;
	width: 130px;
}

.event_left .event_img{
	width: 100px;
	height:75px;
	margin-top: 28px;
	margin-left: 20px;
}
.event_title{
	background-color: #ff6600;
	padding: 3px;
	color: #ffffff;
	font-size: 13px;
	font-weight: bold;
	text-indent: 1px;
	margin-right: 3px;
}
.event_switch,.event_switch_td{
	display: block;
	float: right;
	width: 87px;
	height: 16px;
	margin-top: 8px;
}
.event_switch_td{
	margin: 5px auto;
	margin-right: 15px;
}
.on{
	background-image: url("../../media/images/event_on.png");
}
.off{
	background-image: url("../../media/images/event_off.png");
}

.event_right{
	text-align:left;
	margin-left: 5px;
	margin-top: 32px;
	float:left;
	width: 780px;
	line-height: 20px;
	color: #666666;
}

.event_right a{
	color: #666666;
}
/**�¼���ϸҳ*/
.q_title_node_a{
	float: left;
	width: 700px;
	height:36px;
}
.event_detail_a{
	float:left;
	width:120px;
	height:36px;
	line-height:36px;
	color: #ffffff;
	background-color: #b3b3b3;
	display: block;
	margin-right: 5px;
	font-size: 14px;
	font-weight: bold;
}
.event_detail_a:HOVER,.event_detail_current{
	background-color: #ff6600;
}

.short{width: 200px;}

.q_event_title{
	height:100px;
	width:943px;
}

.event_title_l{
	float:left;
	width: 100px;
}

.event_title_r{
	float:left;
	width: 823px;
	margin-top: 10px;
	height:65px;
	line-height:20px;
	background-color: #d5d5d5;
	margin-left: 10px;
	text-align: left;
	padding: 5px;
}

.event_title_l .event_img{
	width: 100px;
	height:75px;
	margin-top: 10px;
}

/**�������*/
.q_content_equally{
	float: left;
	width: 466px;
	border: 2px solid #d3d3d3;
	border-top: none;
}

.event_number{
	width: 350px;
	height: 150px;
	line-height: 35px;
	background-color: #047ebc;
	color: #ffffff;
	font-size: 24px;
	margin: 30px auto;
	letter-spacing:2px;
}
.q_content_equally .negative{
	background-color: #ff6600;
}

.event_number .number{
	font-size: 28px;
	letter-spacing:4px;
}

/**/
.q_content_gray_bg,.q_content_grid_bg{
	background-color: #efefef;
	border-bottom: 1px solid #d5d5d5;
	height:100px;
	color: #f12531;
	line-height:120px;
	text-align: left;
	font-size: 15px;
	padding-left: 20px;
}
.q_content_grid_bg{
	border-bottom: 1px solid #d5d5d5;
	border-top: 1px solid #d5d5d5;
	line-height:85px;
	text-align: center;
	color: #047ebc;
	letter-spacing:2px;
}

.q_content_grid_bg .grid{
	float: left;
	width: 230px;
	border-right: 1px solid #d5d5d5;
	height:100px;
	line-height:100px;
	text-align: center;
	
}


/**������ʽ*/
.margin-tl{margin-top: 15px;margin-left: 25px;}
.margin-tr{margin-top: 15px;margin-right: 60px;}
.margin5{margin-left: 5px;}
.margin50{margin-left: 50px;}
.margint10{margin-top: 10px;}
.margint15{margin-top: 15px;}
.margint30{margin-top: 30px;}
.margint80{margin-top: 80px;}
.marginb20{margin-bottom: 20px;}
.font14{font-size: 14px;}
.font36{font-size: 36px;}
.width430{width: 430px;}
.width900{width: 900px;}
.red{color: red;}
.orange{color: #ff6600;}
.gray-bg{background-color: #444444;}
.orange-bg{background-color: #ff6600;}
.ftleft{float:left;}
.ftright{float:right;}


/**事件*/
.event_title_node{
	color: #F60;
	font-weight: bold;
	margin-bottom: 20px;
	font-size: 14px;
	text-align: left;
}

/**负面*/
.p_content_l_reds{
	color: red;
	font-size: 30px;
	cursor:pointer; text-align:center;
}
.p_content_l_blues{
	font-size: 30px;
	color: #047ebc;
	cursor:pointer; text-align:center;
}
.p_content_l_reds_font24{
	font-size:24px;
	color: red;
	cursor:pointer; text-align:center;
}
.p_content_l_blues_font24{
	font-size:24px;
	color: #047ebc;
	cursor:pointer; text-align:center;
}
.p_content_l_reds_font18{
	font-size:18px;
	color: red;
	cursor:pointer; text-align:center;
}
.p_content_l_blues_font18{
	font-size:18px;
	color: #047ebc;
	cursor:pointer; text-align:center;
}
.p_content_l_reds_font15{
	font-size:15px;
	color: red;
	cursor:pointer; text-align:center;
}
.p_content_l_blues_font15{
	font-size:15px;
	color: #047ebc;
	cursor:pointer; text-align:center;
}